@font-face {
    font-family: outfit;
    src: url(/assets/fonts/outfit/static/Outfit-Regular.ttf) format("ttf");
    font-weight: 400;
    font-size: normal;
}
@font-face {
    font-family: youngserif;
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf) format("ttf");
    font-weight: 400;
    font-size: normal;
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

ul, ol{
    padding-left: 23px;
}
body{
    background-color: hsl(30, 54%, 90%);
    font-family: outfit;
    font-size: 16px;
}
h1{
    padding-top: 0.5rem ;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: hsl(24, 5%, 18%);
}
  h2{
    font-family: youngserif;
    color: hsl(14, 45%, 36%);
    letter-spacing: 0.05rem;
}
li{
    line-height: 1.6;
    color: hsl(30, 10%, 34%);
}
li{
    margin-top: .5rem;
}
.container{
    max-width: 900px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 2rem;
}
.container div:not(first-child){
    padding: 1.5rem;
}
 .intro{
    font-family: youngserif;
    line-height: 1.6;
    color: hsl(30, 10%, 34%);
    padding: 1rem;
    border-radius: 0.5rem;
    margin-top: 1.5rem ;
}
.Prep h1{
    color: hsl(24, 5%, 18%);
    margin-bottom: 1rem;
}
.Prep article{
    background-color: hsl(330, 100%, 98% );
    padding: 2rem;
    border-radius: 0.5rem;
}
.Prep article h3{
    color: hsl(332, 51%, 32% );
    margin-bottom: 0.5rem;
}
.ingredient{
    border-top: 1px solid hsl(30, 18%, 87%);
}
.instruction{
    border-top: 1px solid hsl(30, 18%, 87%);
}
.nutrition{
    border-top: 1px solid hsl(30, 18%, 87%);
}
.nutrition p{
    margin-top: 1rem;
}
.nutrition ul li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid hsl(30, 18%, 87%);
    padding: .5rem 0;
}
.nutrition ul li:last-child{
    border-bottom: none;
}
.attribution{
    font-size: 13px;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 1rem;
}
.attribution a{
    color: hsl(228, 45%, 44% );
}

@media (min-width){
    .container{
        margin: 5rem auto 0;
        padding: 2rem;
        border-radius: 1rem;
    }
    img {
        border-radius: 1rem;
    }
}